{% extends "base.html" %}

{% block content %}
<br>
<div id="menu">
    <a href="/onas/" class="btn btn-primary">O nas</a>
    <a href="/kontakt/" class="btn btn-primary">Kontakt</a>
    <a href="/relacje/" class="btn btn-primary">Relacje</a>
</div>
<br><br>
    <h3>Wybierz opcję:</h3>
<br><br>
    <p><a href="/optiona/" class="btn btn-success">a). Kolacja dla najbliższych (max. 50 osób; od 100zł od osoby)</a></p>
    <p><a href="/optionb/" class="btn btn-success">b). Zabawa do północy (od 150zł od osoby)"></a></p>
    <p><a href="/optionc/" class="btn btn-success">c). Zabawa do rana (od 2000zł od osoby)"></a></p>

{% endblock %}