{% extends "base.html" %}

{% block content %}

<br>
<div id="menu">
    <a href="/onas/" class="btn btn-primary">O nas</a>
    <a href="/kontakt/" class="btn btn-primary">Kontakt</a>
    <a href="/relacje/" class="btn btn-primary">Relacje</a>
</div>
<br><br>
    <h3>Stwórz wesele swoich marzeń:</h3>
<br><br>
    <p><a href="/optiona/" class="btn btn-success">Utwórz plan</a></p>
    <p><a href="/profile/" class="btn btn-primary">Przejdź na swój profil</a></p>
<br>
<br>
<p><a href="/logout/" class="btn btn-primary">Wyloguj się</a></p>
{% endblock %}