{% extends "base.html" %}

{% block content %}
<br>
<div id="menu">
    <a href="/onas/" class="btn btn-primary">O nas</a>
    <a href="/kontakt/" class="btn btn-primary">Kontakt</a>
    <a href="/relacje/" class="btn btn-primary">Relacje</a>
</div>
<br><br>
<div id="logowanie">
    <h4>Masz już konto?</h4>
        <a href="/login/" class="btn btn-primary">Zaloguj się</a>
    <h4>Jesteś tu pierwszy raz?</h4>
        <a href="/register/" class="btn btn-primary">Utwórz konto</a>
</div>
{% endblock %}