{% extends "base.html" %}

{% block content %}
    <h3>WESELNY KALKULATOR</h3>

    <form action="/optiona/" method="post">
        {% csrf_token %}
        <p>Suknia {{ form.wearf }} <br>
            Garnitur {{ form.wearm }} <br>
            Liczba gości {{ form.quantity }} <br>
            Cena za talerzyk {{ form.plate_price }} <br>
            Dj/zespół {{ form.music }} <br>
            Ekipa filmowa {{ form.movie }} <br>
            Fotograf {{ form.photo }} <br>

        <input type="submit" value="Zapisz">
            <br>
            <br>
<p><a href="/logout/" class="btn btn-primary">Wyloguj się</a></p>
        </p>
    </form>
{% endblock %}