{% extends "base.html" %}

{% block content %}
    <h3>ZABAWA DO RANA</h3>
    <form action="/optionc/" method="post">
        {% csrf_token %}
        <p>Suknia {{ form.wearf }} <br>
            Garnitur {{ form.wearm }} <br>
            Liczba gości {{ form.quantity }} <br>
            Cena za talerzyk {{ form.plate_price }} <br>
            Dj/zespół {{ form.music }} <br>
            Ekipa filmowa {{ form.movie }} <br>
            Fotograf {{ form.photo }} <br>
        <input type="submit" value="Zapisz">
        </p>
    </form>
{% endblock %}