{% extends "base.html" %}

{% block content %}
    <h1>Witaj {{ user.username }}!</h1>
   {% for l in lista %}

        <div>
            <h2>Twój zapisany plan:</h2>
            <p> Suknia: {{ l.wearf }}</p>
             <p> Garnitur: {{ l.wearm }}</p>
             <p> Liczba gości: {{ l.quantity }}</p>
             <p> Cena za talerzyk: {{ l.plate_price }}</p>
             <p> Dj/zespół: {{ l.music }}</p>
             <p> Ekipa filmowa: {{ l.movie }}</p>
             <p> Fotograf: {{ l.photo }}</p>
             <p><strong>CAŁKOWITY KOSZT TO {{ l.total }} ZŁ!!!</strong></p>
        </div>
    <br>
    {% endfor %}
        <p><a href="/optiona/" class="btn btn-success">Utwórz plan</a></p>
        <p><a href="/front/" class="btn btn-primary">Strona główna</a></p>
        <p><a href="/logout/" class="btn btn-primary">Wyloguj się</a></p>

{% endblock %}